.button{
  @include font(1.6rem, 2.4rem, 500);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 16px 0;
  color: $color-text-light;
  border: none;
  width: 298px;
  cursor: pointer;
  &-down{
    align-self: flex-start;
    border-radius: 5px;
  }
}
