body {
  font-family: "Roboto", Verdana, sans-serif;
}

.navigation__link {
  transition: all 0.3s ease-out;
}

.testimonials__title {
  text-align: center;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.1rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10.6rem;
  font-weight: 700;
  font-style: normal;
  line-height: 7.9rem;
}

h2 {
  font-size: 4.8rem;
  font-weight: 400;
  font-style: normal;
  line-height: 5.7rem;
}

h3 {
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 4.7rem;
}

h4 {
  font-size: 2.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.9rem;
}

h5 {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2.2rem;
}

.button {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2.4rem;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 16px 0;
  color: #ffffff;
  border: none;
  width: 298px;
  cursor: pointer;
}
.button-down {
  align-self: flex-start;
  border-radius: 5px;
}

.wrapper {
  max-width: 1160px;
  margin: auto;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 20%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 30%;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 50%;
}

.header {
  background-color: #000000;
}

.header__wrapper {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  line-height: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

.header__left-side {
  display: flex;
  align-items: center;
}

.header__navigation {
  padding-left: 63px;
}

.footer {
  background: #000000;
  padding: 40px 0 50px;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.subscribe__title {
  font-size: 2.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2.9rem;
  color: #ffffff;
  margin-bottom: 14px;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
}

.form__input {
  border: 0.7px solid #FA6F32;
  padding: 10px;
  margin-right: 10px;
}

.form__button {
  padding: 10px 39px;
  color: #4B9200;
}

.footer-down {
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social__item {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-bottom: 10px;
}

.social__image {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  margin-right: 12px;
}

.social-name {
  color: #ffffff;
}

.copyright {
  font-size: 1.6rem;
  font-weight: 100;
  font-style: normal;
  line-height: 2.1rem;
  color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  list-style: none;
  cursor: pointer;
  color: #ffffff;
}
.navigation__link:hover {
  color: #F9804B;
}
.navigation__link:not(:last-child) {
  margin-right: 58px;
}

.promo {
  background-image: url(./../img/backgrounds/panda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 100px;
}

.promo__content {
  padding-top: 86px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promo__content::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 108px;
  z-index: 1;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 465px;
  height: 465px;
  border-radius: 50%;
}

.promo__title {
  max-width: 500px;
  margin-bottom: 60px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 2;
  color: #ffffff;
}
.promo__title-accent {
  color: #FFEE2E;
}

.backstage {
  background-image: url(./../img/backgrounds/flowers.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.backstage__wrapper {
  padding: 120px 0 150px;
}

.backstage__image {
  background-image: url(./../img/backstage/backstage.jpg);
  background-size: cover;
}

.backstage__text {
  max-width: 465px;
}

.backstage__title {
  margin-bottom: 20px;
}

.backstage__subtitle {
  padding: 34px 0 14px;
}

.gallery {
  background: url(./../img/backgrounds/plant.png) 0 100% no-repeat, url(./../img/backgrounds/strelitzia.png) 100% 100% no-repeat;
  background-size: auto, auto;
  padding-bottom: 100px;
}

.gallery__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__block {
  padding-bottom: 40px;
}

.gallery__item {
  border-radius: 5px;
  border: 1px solid #FA6F32;
  margin-bottom: 20px;
}
.gallery__item > img {
  border-radius: 5px 5px 0 0;
}

.gallery-item__title {
  text-transform: uppercase;
}

.gallery-item__subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
}

.gallery-item__description {
  display: flex;
  justify-content: space-between;
  padding: 13px;
}

.feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 69px 0 100px;
}

.feed__wrapper {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 41px 0 59px;
  display: flex;
  flex-direction: column;
}

.feed__title {
  color: #FE9013;
  text-align: center;
  margin-bottom: 30px;
}

.feed__info-block {
  padding-left: 99px;
}

.feed_subtitle {
  margin-bottom: 40px;
}

.feed__text {
  margin-bottom: 10px;
}

.feed__subtext {
  max-width: 863px;
  margin-bottom: 60px;
}

.how-it-works {
  display: flex;
  justify-content: space-between;
  padding: 0 198px;
  margin-bottom: 60px;
}

.how-it-works__title {
  text-align: center;
  margin-bottom: 40px;
}

.how-it-works__item {
  max-width: 168px;
}

.how-it-works__card {
  border: 1px solid #FA6F32;
  margin-bottom: 30px;
  padding: auto;
}

.card-image {
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__block {
  display: flex;
  justify-content: center;
}

.testimonials {
  padding: 140px 0 180px;
}

.testimonials__wrapper {
  display: flex;
  flex-direction: column;
}

.testimonials__title {
  margin-bottom: 47px;
}

.testimonials__cards {
  margin-bottom: 21px;
}

.testimonials__card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: #F1F3F2;
  border-radius: 20px;
  border: 2px solid #FA6F32;
  height: 391px;
  overflow: hidden;
}

.testimonials-user__info {
  display: flex;
}

.user-photo {
  margin-right: 10px;
}
.user-photo > * {
  width: 100%;
  border-radius: 50%;
}

.user-data {
  margin-bottom: 10px;
}

.username {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.9rem;
}

.user-location {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
}

.horizontal-line-scroll {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}

.line {
  position: relative;
  width: 52%;
  height: 8px;
  border-radius: 5px;
  border: 0.5px solid #FA6F32;
}

.line-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #FE9013;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
