$desktop-width: 1160px;
$small-decktop-width: 940px;
$tablet-width: 600px;
$mobile-width: 300px;

//Buttons
$color-btn-default: #F9804B;
$color-btn-hovered: #E47209;
$color-btn-active: #4B9200;
$color-btn-disabled: #767474;
$color-mistake: #D31414;

//Backgrounds
$color-background: #000000;
$color-border: #FA6F32;
$color-card-background: #F1F3F2;
$color-line-background: #F5F7F6;
$color-line-part: #FE9013;

//Text
$color-text-light: #ffffff;
$color-text-dark: #333B41;
$color-text-hovered: #F9804B;
$color-text-accent: #FFEE2E;
$color-text-title: #FE9013;
$color-text-button: #4B9200;


