$desktop-width: 1160px;
$small-decktop-width: 940px;
$tablet-width: 600px;
$mobile-width: 300px;

$color-btn-default: #F9804B;
$color-btn-hovered: #E47209;
$color-btn-active: #4B9200;
$color-btn-disabled: #767474;
$color-mistake: #D31414;

$color-background: #000000;

$color-text-light: #ffffff;
$color-text-dark: #333B41;
$color-text-hovered: #F9804B;
$color-text-accent: #FFEE2E;



